body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
}

@media only screen and (min-width: 320px) {
    
    .nav {
        background-color: white;
        padding: 20px 0 20px 0;
        top: 0;
        padding-left: 15px;
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 3;
    }
    
    .fa-pinterest {
        color: #db2238;
        padding: 15px;
        font-size: 24px;
    }
    
    .fa-pinterest:hover {
        background-color: #ECECEC;
        border-radius: 50%;
    }
    
    .fa-search {
        font: 6px;
        margin: 0;
        padding: 0;
        position: relative;
        top: 0;
        left: 33px;
        color: #666;
        font-weight: 500
    }
    
    .fa-bell, .fa-comment-dots, .fa-user-circle {
        color: #666;
        padding: 15px;
        font-size: 24px;
    }

    .fa-chevron-down {
        color: #666;
        padding: 7.5px;
        font-size: 14px;
    }
    
    a {
        text-decoration: none;
        border-radius: 60px;
        padding: 15px;
        border: none;
        color: black;
        background-color: white;
        font-family: Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: bold;
    }

    a:hover {
        background-color: #ECECEC;
    }
    
    a.active {
        background-color: black;
        color: white;
    }
    
    input {
        border-radius: 60px;
        background-color: #ECECEC;
        padding: 15px 15px 15px 15px;
        margin-right: 15px;
        width: 950px;
        border: none;
        font-family: Helvetica, sans-serif;
        font-size: 0.99rem;
        font-weight: lighter;
        outline: none;
    }
    
    input:hover {
        background-color: #D4D4D4;
    }
    
    i:hover {
        background-color: #ECECEC;
        border-radius: 50%;
    }
    
    .gallery {
        width: 85%;
        column-count: 2;
        padding-top: 120px;
        margin-left: 7.5%;
    }
    
    img {
        width: 100%;
        border-radius: 20px;
        margin-bottom: 50px;
    }
    
    .image:hover {
        opacity: 0.9;
        z-index: 1;
        cursor: zoom-in;
    }
}

@media only screen and (min-width: 568px) {

    .gallery {
        width: 85%;
        column-count: 3;
        padding-top: 120px;
        margin-left: 7.5%;
    }
}

@media only screen and (min-width: 768px) {

    .gallery {
        width: 85%;
        column-count: 4;
        padding-top: 120px;
        margin-left: 7.5%;
    }
}

@media only screen and (min-width: 1024px) {

    .gallery {
        width: 85%;
        column-count: 5;
        padding-top: 120px;
        margin-left: 7.5%;
    }
}