body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.nav {
    padding-top: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    position: fixed;
}

.nav span {

}

.fa-pinterest {
    color: #db2238;
    padding: 15px;
    font-size: 24px;
}

.fa-pinterest:hover {
    background-color: #ECECEC;
    border-radius: 50%;
}

.fa-search {
    font: 6px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 33px;
    color: #666;
    font-weight: 500
}

.fa-bell, .fa-comment-dots {
    color: #666;
    padding: 15px;
    font-size: 24px;
}

a {
    text-decoration: none;
    border-radius: 60px;
    padding: 15px;
    border: none;
    color: black;
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.following {
}

a:hover {
    background-color: #ECECEC;
}

a.active {
    background-color: black;
    color: white;
}

input {
    border-radius: 60px;
    background-color: #ECECEC;
    padding: 15px 15px 15px 15px;
    margin-right: 15px;
    width: 950px;
    border: none;
    font-family: Helvetica, sans-serif;
    font-size: 0.99rem;
    font-weight: lighter;
}

input:hover {
    background-color: #D4D4D4;
}

i:hover {
    background-color: #ECECEC;
    border-radius: 50%;
}
