body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
}

@media only screen and (min-width: 320px) {

    header {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .nav {
        background-color: white;
        top: 0;
        padding-top: .5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
    }

    .movil {
        display: none;
    }

    .fa-pinterest {
        color: #db2238;
        padding: 15px;
        font-size: 24px;
    }
    .fa-search {
        font: 6px;
        position: relative;
        top: 0;
        color: #666;
    }

    .fa-bell,
    .fa-comment-dots,
    .fa-user-circle,
    .fa-search {
        color: #666;
        padding: 15px;
        font-size: 24px;
    }
    .fa-fort-awesome-alt {
        color: rgb(15, 14, 14);
        padding: 15px;
        font-size: 24px;
    }

    .fa-chevron-down {
        color: #666;
        padding: 7.5px;
        font-size: 14px;
    }

    a.active {
        background-color: black;
        color: white;
    }

    a {
        text-decoration: none;
        border-radius: 60px;
        padding: 15px;
        border: none;
        color: black;
        background-color: white;
        font-family: Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: bold;
    }
    input {
        display: none;
    }

    .gallery {
        padding: 0 1em 0 1em;
        column-count: 2;
        padding-top: 120px;
    }

    img {
        width: 100%;
        border-radius: 20px;
        margin-bottom: 50px;
    }

    .image:hover {
        opacity: 0.9;
        z-index: 1;
        cursor: zoom-in;
    }
    footer {
        background: white;
        border-radius: 60px;
        position: fixed;
        top: 45rem;
        left: 22%;
        -webkit-box-shadow: 0px 5px 14px -4px #000000;
        box-shadow: 0px 5px 14px -4px #000000;
        }

        .footer-style {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-color: #666;
    }
}



@media only screen and (min-width: 568px) {

    .fa-pinterest {
        color: #db2238;
        padding: 15px;
        font-size: 3em;
    }

    .gallery {
        column-count: 3;
        padding-top: 120px;
    }
    footer {
        background: white;
        border-radius: 60px;
        position: fixed;
        top: 50rem;
        left: 30%;
    }

    .footer-style {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-color: #666;
    }

    .fa-bell,
    .fa-comment-dots,
    .fa-user-circle,
    .fa-search {
        color: #666;
        padding: 15px;
        font-size: 2.5em;
    }

    .fa-fort-awesome-alt {
        color: rgb(15, 14, 14);
        padding: 15px;
        font-size: 2.5em;
    }

    }

@media only screen and (min-width: 768px) {

    .gallery {
        padding: 0 1em 0 1em;
        column-count: 4;
        padding-top: 120px;
    }
    
    .fa-bell,
    .fa-comment-dots,
    .fa-user-circle,
    .fa-search {
        color: #666;
        padding: 15px;
        font-size: 3.5em;
    }

    .fa-fort-awesome-alt {
        color: rgb(15, 14, 14);
        padding: 15px;
        font-size: 3.5em;
    }

    footer {
        background: white;
        border-radius: 60px;
        position: fixed;
        top: 56rem;
        left: 27.5%;
        }

        .footer-style {
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-color: #666;
            margin: 2px;
    }
}

@media only screen and (min-width: 1024px) {

    .gallery {
        column-count: 5;
    }
    .fa-bell,
    .fa-comment-dots,
    .fa-user-circle,
    .fa-search {
        color: #666;
        padding: 15px;
        font-size: 3em;
    }

    .fa-fort-awesome-alt {
        color: rgb(15, 14, 14);
        padding: 15px;
        font-size: 3.5em;
    }

    a.active {
        background-color: black;
        color: white;
        font-size: 1em
    }

    .fa-pinterest {
        color: #db2238;
        padding: 15px;
        font-size: 3em;
    }

    footer {
        background: white;
        border-radius: 60px;
        position: fixed;
        margin: 2px;
        top: 65rem;
        left: 37%;
    }

    .footer-style {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-color: #666;
    }

}