html {
    overscroll-behavior: contain;
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

span {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    text-align: left;
}

.add:hover {
    background-color: #ECECEC;
}

.question:hover {
    background-color: #ECECEC;
}

.home {
    outline: none;
}

a {
    text-decoration: none;
    border: none;
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.fa-chevron-2:hover {
    cursor: pointer;
}

.menu {
    padding: 0;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: white;
    border: 0.5px solid lightgray;
    border-radius: 20px;
    text-align: left;
    font-weight: bold;
}

.menu ul {
    list-style-type: none;
    padding-left: 0;
}

.menu li {
    margin: 0 4px;
    padding: 10px 85px 10px 20px;
    border-radius: 10px;
}

.menu li:hover {
    background-color: #ECECEC;
}

img {
    z-index: 1;
}

.image {
  display: inline-block;
  position: relative;
}

.top {
    background-color: #db2238;
    color: white;
    border-radius: 60px;
    padding: 15px;
    position: absolute;
    top:0.5em;
    right:0.5em;
    opacity: 0;
}

.bottom1 {
    background-color: #ECECEC;
    border-radius: 50%;
    padding: 7px;
    position: absolute;
    bottom:4em;
    right:2.5em;
    opacity: 0;
}

.bottom2 {
    background-color: #ECECEC;
    border-radius: 50%;
    padding: 7px;
    position: absolute;
    bottom: 4em;
    right: 0.2em;
    opacity: 0;
}

.fa-upload .a-ellipsis-h {
    font-size: 38px;
    color: gray;
}

.image:hover .top, .image:hover .bottom1, .image:hover .bottom2 {
    opacity: 1;
}

.top:hover {
    background-color: red;
}

.bottom1:hover, .bottom2:hover {
    background-color: lightgray;
}

@media only screen and (min-width: 320px) {
    
    .nav {
        background-color: white;
        padding: 15px 0 15px 0;
        top: 0;
        padding-left: 15px;
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 3;
    }
    
    .mobile-home {
        padding: 0;
        position: absolute;
        top: 70px;
        left: 25px;
        background-color: white;
        border: 0.5px solid lightgray;
        border-radius: 20px;
        text-align: left;
        font-weight: bold;
    }
    
    .mobile-home ul {
        list-style-type: none;
        padding-left: 0;
    }
    
    .mobile-home li {
        margin: 0 4px;
        padding: 10px 85px 10px 20px;
        border-radius: 10px;
    }
    
    .mobile-home li:hover {
        background-color: #ECECEC;
    }
    
    .fa-pinterest {
        color: #db2238;
        padding: 12px;
        font-size: 25px;
    }
    
    .fa-search {
        padding: 12px;
        color: #666;
        font-size: 20px;
    }
    
    .fa-bell, .fa-comment-dots, .fa-user-circle {
        color: #666;
        padding: 12px;
        font-size: 24px;
    }
    
    .fa-chevron-1 {
        color: #666;
        padding: 6px;
        font-size: 14px;
    }
    
    .fa-chevron-2 {
        color: #666;
        padding: 6px;
        font-size: 14px;
    }
    
    .fa-bell:hover, .fa-comment-dots:hover, .fa-user-circle:hover, .fa-chevron-2:hover, .fa-search:hover, .fa-pinterest:hover {
        background-color: #ECECEC;
        border-radius: 50%;
    }
    
    .home a, .following a, .alternate-home a {
        text-decoration: none;
        border-radius: 60px;
        padding: 12px;
        border: none;
        color: black;
        background-color: white;
        font-family: Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: bold;
    }
    
    .home a:hover, .following a:hover, .alternate-home a:hover {
        background-color: #ECECEC;
    }
    
    .following {
        display: none;
    }
    
    input {
        display: none;
    }
    
    input:hover {
        background-color: #D4D4D4;
    }
    
    .first {
        width: 12%;
    }
    
    .second {
        display: none;
    }
    
    .fourth {
        width: 22%;
        text-align: end;
        margin-left: auto;
    }
    
    
    .sixth, .seventh, .eighth  {
        width: 8%;
        text-align: end;
        margin-right: 1.5%;
    }
    
    .sixth {
        margin-left: 1%;
    }
    
    .nineth {
        margin-right: 2.0%;
    }
    
    .gallery {
        width: 97.6%;
        column-count: 2;
        padding-top: 80px;
        margin-left: 1.2%;
    }
    
    img {
        width: 100%;
        border-radius: 20px;
        margin-bottom: 50px;
    }
    
    img:hover {
        cursor: zoom-in;
    }
    
    .add {
        border: 0.5px solid #FAFAFA;
        cursor: pointer;
        position: fixed;
        bottom: 4.1rem;
        right: 1.2rem;
        font-size: 14px;
        color: #545454;
        background-color: white;
        border-radius: 50%;
        font-weight: lighter;
        padding: 0.7rem 0.8rem;
        box-shadow: 0 -3px #ECECEC inset;
        z-index: 3;
    }
    
    .question {
        border: 0.5px solid #FAFAFA;;
        cursor: pointer;
        position: fixed;
        bottom: 1.1rem;
        right: 1.2rem;
        font-size: 14px;
        color: #545454;
        background-color: white;
        border-radius: 50%;
        font-weight: lighter;
        padding: 0.7rem 0.8rem;
        box-shadow: 0 -3px #ECECEC inset;
        z-index: 3;
    }
}

@media only screen and (min-width: 640px) {
    
    nav {
        background-color: white;
        padding: 0 0 0 0;
        top: 0;
        display: flex;
        align-items:baseline;
        position: fixed;
        width: 100%;
        z-index: 3;
    }
    
    .mobile-home {
        padding: 0;
        position: absolute;
        top: 70px;
        left: 35px;
        background-color: white;
        border: 0.5px solid lightgray;
        border-radius: 20px;
        text-align: left;
        font-weight: bold;
    }
    
    .fa-pinterest {
        color: #db2238;
        padding: 12px;
        font-size: 25px;
    }
    
    .fa-pinterest:hover {
        background-color: #ECECEC;
        border-radius: 50%;
    }
    
    .fa-bell, .fa-comment-dots, .fa-user-circle {
        color: #666;
        padding: 12px;
        font-size: 25px;
    }
    
    .fa-chevron-2 {
        color: #666;
        padding: 6px;
        font-size: 14px;
        margin-right: auto;
    }
    
    .home a, .following a, .alternate-home a {
        text-decoration: none;
        border-radius: 60px;
        padding: 13px;
        border: none;
        color: black;
        background-color: white;
        font-family: Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: bold;
    }
    
    a:hover {
        background-color: #ECECEC;
    }
    
    i:hover {
        background-color: #ECECEC;
        border-radius: 50%;
    }
    
    .first {
        width: 5%;
        margin-right: 2.4%;
    }
    
    .second {
        width: 20%;
    }
    
    .third {
        width: 8%;
    }
    
    .fourth {
        padding: 0;
        width: 35%;
        text-align: end;
        border: none;
        margin-left: auto;
    }
    
    .fifth {
        display: none;
    }
    
    .sixth, .seventh, .eighth  {
        width: 3.6%;
        text-align: end;
        margin-right: 2.7%;
    }
    
    .nineth {
        width: 3.2%;
    }  
    
    .gallery {
        max-width: 86%;
        column-count: 3;
        padding-top: 85px;
        margin-left: 7%;
    }
    
    .add {
        border: 0.5px solid #FAFAFA;
        cursor: pointer;
        position: fixed;
        bottom: 4rem;
        right: 1.2rem;
        font-size: 17px;
        color: #545454;
        background-color: white;
        border-radius: 50%;
        font-weight: lighter;
        padding: 0.8rem 0.8rem;
        box-shadow: 0 -3px #ECECEC inset;
    }
    
    .question {
        border: 0.5px solid #FAFAFA;;
        cursor: pointer;
        position: fixed;
        bottom: 1rem;
        right: 1.2rem;
        font-size: 17px;
        color: #545454;
        background-color: white;
        border-radius: 50%;
        font-weight: lighter;
        padding: 0.8rem 0.8rem;
        box-shadow: 0 -3px #ECECEC inset;
    }
}

@media only screen and (min-width: 950px) {
    
    nav {
        width: 100%;
        text-align: left;
        padding: 15px 15px 15px 15px;
    }
    
    .mobile-home {
        display: none;
    }
    
    .alternate-home {
        display: none;
    }
    
    span .first, .second, .third, .fourth, .sixth, .seventh, .eighth, .nineth {
        display: inline-block;
    }
    
    a {
        text-decoration: none;
        border-radius: 60px;
        padding: 15px 16px 15px 16px;
        border: none;
        color: black;
        background-color: white;
        font-family: Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: bold;
    }
    
    a:focus {
        background-color: black;
        color: white;
    }
    
    i {
        margin: 0;
    }
    
    .second .fa-chevron-down {
        display: none;
    }
    
    .following {
        display: inline;
    }
    
    .fa-pinterest {
        padding: 11px;
    }
    
    .fa-search {
        margin: 0;
        padding: 0;
        color: #666;
        font-size: 16px;
        position: static;
        font-weight: 500;
        z-index: 3;
    }
    
    .fa-bell, .fa-comment-dots, .fa-user-circle {
        padding: 14px;
    }
    
    input {
        display: inline;
        border-radius: 60px;
        background-color: #ECECEC;
        padding: 15px 15px 15px 15px;
        margin-left: 0;
        border: none;
        width: 100%;
        font-family: Helvetica, sans-serif;
        font-size: 0.99rem;
        font-weight: lighter;
        outline: none;
        z-index: 1;
    }
    
    .first {
        width: 3%;
        max-width: 3%;
        margin-left: 0.2%;
        margin-right: 1%;
    }
    
    .second {
        width: 3%;
        max-width: 3%;
        margin: 0;
        text-align: left;
        margin-left: 1%;
        margin-right: 2.5%;
    }
    
    .third {
        width: 3%;
        max-width: 3%;
        margin: 0;
        text-align: left;
        margin-left: 2.5%;
        margin-right: 4%;
    }
    
    .fourth {
        margin: 0;
        margin-right: 0;
        padding-right: 0;
        width: 1%;
        z-index: 3;
        position: relative;
        display: inline;
        left: 7%;
    }
    
    .fifth {
        display: inline;
        width: 85%;
        min-width: 54.5%;
        text-align: left;
        border: none;
        margin-left: 4%;
        padding-left: 0;
    }
    
    .sixth, .seventh, .eighth {
        width: 3%;
        margin-right: 2%;
    }
    
    .nineth {
        width: 2%;
    }
    
    /*.gallery {
        width: 85%;
        column-count: 4;
        padding-top: 81px;
        margin-left: 7.5%;
    }*/
    .gallery {
        column-count: 4;
    }
    
}    

@media only screen and (min-width: 1050px) {
    
}

@media only screen and (min-width: 1200px) {
    
    .first {
        margin: 0;
        margin-right: 0.4%;
    }
    
    .second, .third {
        margin: 0;
        margin-right: 2.3%;
    }
    
    /*.fifth {
        width: 85%;
    }*/
    .fourth {
        left: 4.2%;
    }
    
    .fifth {
        margin-left: 2%;
    }
    
    .sixth, .seventh, .eighth {
        margin-right: 0.3%;
    }
    
    .nineth {
        margin-right: 1%;
    }
    /*.gallery {
        width: 86%;
        column-count: 5;
        padding-top: 81px;
        margin-left: 7%;
    }*/
    .gallery {
        column-count: 5;
    }
}